body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    background: #333;
    color: #fff;
    line-height: 30px;
    text-align: center; 
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3{
    margin: 0px;
    padding: 1em 0;
}

p{
    padding: 20px 50px;
    margin: 0;
}

.btn{
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    margin: 20px 0;
    border: 1px solid #fff;
}

.btn:hover{
    background: #fff;
    color: #333;
}

#showcase{
    min-height: 450px;
    padding: 1.5em 0;
    background: #333;
    color: #fff;
    text-align: center;
    margin: 30px 0;
}

#section-a{
    background: lightblue;
    color: #333;
    padding: 15px 25px;
}

#section-b{
    padding: 2em 1em 1em;
}

#section-b ul{
    list-style: none;
    padding: 0;
    margin: auto;
}

#section-b li{
    margin-bottom: 1em;
    background: #333;
    color: #fff;
}

.card-content{
    padding: 1.5em;
    background: #fff;
    color: #333;
}

.content-title{
    font-size: 50px;
    font-weight: 200;
}

#section-c{
    background: lightgoldenrodyellow;
    color: #333;
    padding: 30px 40px;
}

#section-d .box{
    color: #fff;
    padding: 30px;
    border: 1px solid #fff;
}

#section-d .box:first-child{
    background: #2690d4;
}

#section-d .box:hover{
    background: #fff;
    color: #333;
    text-transform: uppercase;
}

#main-footer{
    margin: 0;
    padding: 30px 10px;
}

#main-footer a{
    color: #2690d4;
    text-decoration: none;
    margin-left: 20px;
}